html {
	font-size: 62.5%;
}
* {
	box-sizing: border-box;
}

body {
	position: relative;
}

/*=========== HEADER ===========*/

.container {
	min-width: 900px;
	margin: 0 auto;
}

header {
	position: fixed;
	z-index: 1000;
	width: 100%;
	top: 0;
}

.site-header {
	display: flex;
	justify-content: space-around;
	height: 8rem;
	align-items: center;
	background-color: #ffffff;
}

.logo {
	font-size: 3rem;
	text-decoration: none;
	background-color: #000000;
	color: #ffffff;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	padding: 1rem;
	align-self: center;
	text-transform: uppercase;
	letter-spacing: 0.5rem;
	margin: 1rem;
}

.site-nav {
	margin: 2rem;
}
.site-nav ul {
	display: flex;
	margin: 2rem;
	padding: 0;
}

.site-nav ul li {
	margin: 2rem;
	list-style: none;
	font-size: 1.5rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	cursor: pointer;
}

.site-nav ul li a {
	text-decoration: none;
	color: #000000;
	transition: 0.3s ease all;
}

.login-register {
	font-size: 1.4rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	margin-left: 10rem;
}

.site-carrito {
	font-size: 2.5rem;
	cursor: pointer;
}

#numero-compras {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

/* ESTILO HOVER AL NAV */

.site-nav ul li a:hover {
	color: #ff6200;
}

/* Clase active para el nav*/
.active-color {
	color: #ff6200 !important;
}

/*=========== SECTION MINI AD ===========*/

.site-section-one {
	background-color: #ff6200;
	margin: 1rem;
	margin-top: 8rem;
}

.text-ad {
	font-family: 'Oswald', sans-serif;
	text-align: center;
	padding: 1rem;
}

.text-ad h2 {
	font-size: 5rem;
	color: #ffffff;
	text-transform: uppercase;
	margin: 2rem;
}

.text-ad span {
	font-size: 3rem;
	color: #ffffff;
	text-transform: uppercase;
}

.buttons {
	text-align: center;
	padding: 2rem;
}

.btn {
	margin: 0.5rem;
	border: 1px solid #ffffff;
	font-family: 'Roboto', sans-serif;
	padding: 1rem 4rem;
	background-color: #ff6200;
	color: #ffffff;
	font-size: 1.4rem;
	cursor: pointer;
	transition: 0.6s ease all;
}

.btn:hover {
	background-color: #ffffff;
	color: #ff6200;
}

/*=========== SECTION TWO IMG ===========*/

.site-section-two {
	margin: 1rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	display: flex;
	justify-content: center;
}

.site-section-two img {
	margin: 1rem;
}

/*===========  ===========*/

.new-arri {
	font-size: 8rem;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	text-align: center;
	margin: 2rem;
	display: flex;
	flex-direction: column;
}

.new-arri span {
	z-index: 5;
}

.line {
	background-color: #ff6200;
	width: 50%;
	height: 1rem;
	align-self: center;
	margin-top: -20px;
}

/*=========== VIEW IMG ===========*/

.overlay {
	font-size: 1.3rem;
	font-family: 'Roboto', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 7.8rem;
	left: 0;
	background-color: #f7f6f6;
	width: 100%;
	height: 0;
	transition: 0.4s;
	overflow: hidden;
	cursor: pointer;
}

.site-img {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.card {
	margin: 4rem;
	position: relative;
}

.card:hover .overlay {
	height: 8%;
	cursor: pointer;
}

.card img {
	width: 100%;
}

.dates-card p {
	font-size: 2rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	margin: 1rem;
}

.precio-date {
	font-size: 1.6rem;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color: #2e3436;
	margin: 1rem;
}

/*=========== SITE FOOTER ===========*/

.site-footer {
	background-color: #000000;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: 5rem;
	height: 33rem;
}

.we {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: 4rem auto;
}

.col {
	display: grid;
	flex-direction: column;
	height: 1rem;
}

.col span {
	color: #ffffff;
	font-size: 1.5rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	padding: 1.6rem;
}

.col-two span {
	margin-right: 5rem;
}

.suscribe {
	margin: 4rem;
}

.suscribe p {
	font-size: 1.5rem;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	font-weight: bold;
}

.suscribe span {
	font-size: 1.5rem;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	display: block;
	margin-bottom: 2rem;
	font-weight: 300;
}

.formulario {
	display: flex;
	flex-direction: column;
	width: 25rem;
}

.formulario input {
	background-color: #000000;
	color: #ffffff;
	font-size: 1.4rem;
	font-family: 'Roboto', sans-serif;
	padding: 1rem;
	border: 1px solid #ffffff;
	margin: 0.5rem;
}

address {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;
	margin: 2rem;
}

/*=========== Estilos a shopall ===========*/

.fantas-box {
	margin-top: 10rem;
}

/* CLASES PARA PERSONALIZADAS*/

.d-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.m-2 {
	margin: 1rem;
}

.m-boxligh-date {
	margin: 2rem 1rem 2rem 7rem;
}

.w-100 {
	width: 100%;
}

.title-deco {
	font-family: 'Oswald', sans-serif;
	font-size: 5rem;
	margin: 0 0 3rem 0;
}

.btn-addCard {
	margin: 0.5rem;
	border: 1px solid #ffffff;
	font-family: 'Roboto', sans-serif;
	padding: 1rem 4rem;
	background-color: #ff6200;
	color: #ffffff;
	font-size: 1.4rem;
	cursor: pointer;
	transition: 0.3s ease-in-out all;
}

.btn-addCard:hover {
	color: #ff6200;
	border: 1px solid #ff6200;
	background-color: #ffffff;
}

.select-deco {
	width: 300px;
	border-radius: 0;
	padding: 1rem;
	border: 1px solid #acacaa;
	font-size: 1.5rem;
	color: #87879f;
	font-weight: 200;
	background-color: #ffffff;
	font-family: 'Roboto', sans-serif;
	appearance: none;
}

.input-number-deco {
	padding: 1rem;
	font-size: 1.5rem;
	font-weight: 200;
	width: 200px;
	background-color: #ffffff;
	border: 1px solid #acacaa;
	font-family: 'Roboto', sans-serif;
}

.info-product {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;
	text-align: justify;
	color: #acacaa;
}

#load-more {
	padding: 1rem;
	background-color: #ff6200;
	border: 1px solid #ffffff;
	color: #ffffff;
	display: flex;
	justify-content: center;
	margin: 1rem auto;
	width: 300px;
	font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;
	cursor: pointer;
}

.desplegar {
	display: none;
	grid-template-columns: repeat(4, 1fr);
}

/* SPINNER*/
.sk-folding-cube {
	margin: 20px auto;
	width: 40px;
	height: 40px;
	position: relative;
	-webkit-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
	display: none;
}

.sk-folding-cube .sk-cube {
	float: left;
	width: 50%;
	height: 50%;
	position: relative;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #333;
	-webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
	animation: sk-foldCubeAngle 2.4s infinite linear both;
	-webkit-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
	-webkit-transform: scale(1.1) rotateZ(90deg);
	transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
	-webkit-transform: scale(1.1) rotateZ(180deg);
	transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
	-webkit-transform: scale(1.1) rotateZ(270deg);
	transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
	-webkit-animation-delay: 0.9s;
	animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
	0%,
	10% {
		-webkit-transform: perspective(140px) rotateX(-180deg);
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
	75% {
		-webkit-transform: perspective(140px) rotateX(0deg);
		transform: perspective(140px) rotateX(0deg);
		opacity: 1;
	}
	90%,
	100% {
		-webkit-transform: perspective(140px) rotateY(180deg);
		transform: perspective(140px) rotateY(180deg);
		opacity: 0;
	}
}

@keyframes sk-foldCubeAngle {
	0%,
	10% {
		-webkit-transform: perspective(140px) rotateX(-180deg);
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
	75% {
		-webkit-transform: perspective(140px) rotateX(0deg);
		transform: perspective(140px) rotateX(0deg);
		opacity: 1;
	}
	90%,
	100% {
		-webkit-transform: perspective(140px) rotateY(180deg);
		transform: perspective(140px) rotateY(180deg);
		opacity: 0;
	}
}

/*=========== Light Box ===========*/

.vistaProducto {
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	pointer-events: none;
	z-index: 1000;
	transition: 0.4s ease-in all;
}

.view-contenido {
	width: 1000px;
	height: 800px;
	padding: 10px;
	margin: 10rem auto;
	color: #000000;
	background-color: #ffffff;
}

.btn-borrar {
	color: #2e3436;
	text-decoration: none;
	font-size: 2.5rem;
	cursor: pointer;
}

/*=========== CARRITO  ===========*/

.carrito {
	position: absolute;
	position: fixed;
	font-size: 2rem;
	top: 0;
	right: 0;
	width: 0;
	height: 100%;
	background-color: #ffffff;
	transition: 0.6s;
	border-left: 1px solid #acacaa;
}

.site-header-card p {
	color: #ffffff;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	background-color: #000000;
	padding: 3rem;
	margin-top: 7rem;
	position: relative;
}

/* .site-header-card p button {
	font-size: 3rem;
	position: absolute;
	margin: 2rem;
	top: 0;
	left: 0;
	color: #ffffff;
	background-color: #000000;
	border: none;
	cursor: pointer;
} */

.contenedor-carrito {
	margin: 1rem;
	overflow-x: hidden;
	height: 55rem;
}

.contenedor-carrito ul li img {
	max-width: 80%;
}

.contenedor-carrito ul li {
	display: grid;
	grid-template-columns: 50% 50%;
	min-width: 30rem;
}

.date-min-car {
	position: relative;
}

.date-min-car p {
	font-size: 1.6rem;
	font-family: 'Roboto', sans-serif;
	color: #acacaa;
	margin: 0.5rem;
}

.date-min-car span {
	font-size: 1.5rem;
	color: #ff6200;
	font-family: 'Roboto', sans-serif;
	margin: 0.5rem;
}

.date-min-car input {
	width: 9rem;
	display: block;
	margin: 4rem 0.5rem 0.5rem 0.5rem;
	font-family: 'Roboto', sans-serif;
	color: #acacaa;
}

.date-min-car i {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
	font-size: 2rem;
	cursor: pointer;
}
.separador {
	color: #e8e6e6;
}

.precio-total p {
	font-family: 'Roboto', sans-serif;
	font-size: 2.4rem;
	font-weight: 300;
	margin: 1rem 3rem;
}

.precio-total span {
	font-family: 'Roboto', sans-serif;
	font-size: 2.4rem;
	margin: 1rem 3rem;
	color: #ff6200;
}

.btn-viewCar {
	display: flex;
	justify-content: center;
}

.view-car {
	background-color: #ff6200;
	padding: 1.2rem;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	margin: 4rem 4rem;
	width: 300px;
	cursor: pointer;
}

.deco-li-carrito {
	border-bottom: 1px solid #acacaa;
	padding: 1rem 0;
}

/*=========== Clase que ayuda a abrir el carrito ===========*/
.mode-car-ocultar {
	width: 37rem;
}

/*=========== Clases de alerta ===========*/

.alert-danger {
	font-size: 1.3rem;
	font-family: 'Roboto', sans-serif;
	color: #842029;
	background-color: #f8d7da;
	border-color: #f5c2c7;
	padding: 1rem;
	margin: 1rem 0;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	text-align: center;
}

.alert-noDanger {
	font-size: 1.3rem;
	font-family: 'Roboto', sans-serif;
	color: #0f5132;
	background-color: #d1e7dd;
	border-color: #f5c2c7;
	padding: 1rem;
	margin: 1rem 0;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	text-align: center;
}

.border-alert {
	border: 2px solid red;
}

.borrar-curso {
	background-color: #ffffff;
	font-size: 1.2rem;
	padding: 0.3rem 1rem;
	border-radius: 2rem;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	border: 1px solid #acacaa;
	color: #acacaa;
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 1rem;
}
