// Colores
$negro: #000000;
$blanco: #ffffff;
$anaranjado: #ff6200;
$plomo-claro: #f7f6f6;
$mostaza: #acacaa;
$rojo: #842029;
$verde: #0f5132;

// Media Queries
$telefono: 480px;
$tablet: 972px;
$desktop: 1200px;

$fuentePrincipal: 'Roboto', sans-serif;
$fuenteSecundaria: 'Oswald', sans-serif;

$delgada: 300;
$regular: 400;
$negrita: bold;

// Fuentes

$mayuscula: uppercase;
$minuscula: lowercase;
